Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*.m4
missing
.deps
.dirstamp
*.o
stamp-h1

# gresource cruft
brisk-resources.*

# libtool
*.la
*.lo
.libs/

brisk-menu
/brisk-test-backends

# Data files for mate-panel
*.mate-panel-applet
*.service

# Gschema cruft
*.gschema.valid

libsaver-glue.*
libsession-glue.*

po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo
