Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
.deps
.dirstamp
*.o

# gresource cruft
brisk-resources.*

brisk-menu

# Data files for mate-panel
*.mate-panel-applet
*.service
